@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

button {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.4rem;
  border-radius: 6px;
  margin-left: 16.8em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

input {
  padding: 0.3rem;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

input,
table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.all-books {
  max-width: 32rem;
  margin-bottom: 4rem;
}

button,
input,
.all-books {
  border: 0.125rem #333 solid;
}

input,
.all-books {
  border-radius: 0.25rem;
}

.book-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

h2,
.form-title {
  text-align: center;
}

.form {
  max-width: 16rem;
  box-sizing: border-box;
}

.all-books,
.form {
  margin: 0 auto;
}

.topnav {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  border: solid 2px black;
  border-radius: 5px;
}

.menu {
  font-weight: bold;
  font-size: 1.2rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  list-style-type: none;
  margin-block: 0.2em;
}

hr {
  border: 0.1rem solid #333;
  height: 16px;
  margin: 0.5rem auto;
}

.logo {
  margin-left: 16px;
  text-decoration: none;
  color: black;
}

h1 {
  margin-block: 0.2em;
}

.footer {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  left: 2em;
  border: solid 2px black;
  border-radius: 5px;
  margin: 10% auto 0 auto;
  padding: 1%;
}